<footer>
  <div class="container mx-auto mt-14 mb-8 ">
    <div class="flex justify-between items-center ">
      <h3 class="text-2xl text-center">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      </h3>
      <div class="flex gap-4">
        <input type="text" placeholder="Email address" class="w-full p-2 h-8 rounded">
        <a href="#" class="text-white px-3 border border-gray-600 rounded bg-yellow-800">
          Subscribe
        </a>

      </div>
    </div>
  </div>

  <div class=" mt-14 border-b border-gray-200"></div>

  <div class="container mx-auto flex justify-between text-xs h-10 items-center">
    <div class="">
      &copy;2024- All right reserved
    </div>
    <div class="">
      built by-builder
    </div>
  </div>
</footer>
