
    <div class="bg-white pb-6 p-1">
      <div class="flex mb-4">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsGAunXoiuzL2QQXb_mjDcb2b7BVAJRayNH8aLoKzH_Q&s"
          alt="" class="w-[500px] rounded-xl">
      </div>

      <h3 class="text-xl ml-3">Lorem ipsum dolor.</h3>
      <div class="flex justify-between mx-2 mt-12">
        <a href="#" class="uppercase p-2 rounded-full text-xs bg-yellow-200">Sides</a>
        <div class="flex gap-2">
          <span><i class="fa-regular fa-clock"></i></span>
          <p>45 minutes</p>
        </div>
      </div>
    </div>

