<app-nav></app-nav>

<main>
  <section class="container mx-auto">
    <div class="flex flex-col justify-center mx-80">
      <div class="mt-4">
       <h3 class="text-4xl text-center mb-14">All recipes</h3>
        <div class="flex gap-4 mt-4 justify-center">
          <a href="#" class="text-gray-600 text-sm uppercase py-1 px-4 bg-yellow-200 rounded-full">Entress</a>
          <a href="#" class="text-gray-600 text-sm uppercase py-1 px-4 bg-purple-200 rounded-full">Breakfast</a>
          <a href="#" class="text-gray-600 text-sm uppercase py-1 px-4 bg-green-200 rounded-full">Lunch</a>
          <a href="#" class="text-gray-600 text-sm uppercase py-1 px-4 bg-orange-200 rounded-full">Desserts</a>
          <a href="#" class="text-gray-600 text-sm uppercase py-1 px-4 bg-lime-200 rounded-full">Sides</a>
          <a href="#" class="text-gray-600 text-sm uppercase py-1 px-4 bg-red-200 rounded-full">Drinks</a>
        </div>
      </div>
    </div>

    <div class="flex justify-center flex-wrap">

      <div class="w-1/3 p-4">
        <app-recipe-card></app-recipe-card>
      </div>

      <div class="w-1/3 p-4">
        <app-recipe-card></app-recipe-card>
      </div>

      <div class="w-1/3 p-4">
        <app-recipe-card></app-recipe-card>
      </div>

      <div class="w-1/3 p-4">
        <app-recipe-card></app-recipe-card>
      </div>

      <div class="w-1/3 p-4">
        <app-recipe-card></app-recipe-card>
      </div>
      
      <div class="w-1/3 p-4">
        <app-recipe-card></app-recipe-card>
      </div>

    </div>

    <div class="flex justify-center mt-2">
      <a href="#" class="px-3 py-2 border border-gray-600 rounded">Next</a>
    </div>

  </section>

</main>

<app-footer></app-footer>
